@*@model IEnumerable<Entidades.RendicionDetalle>*@
@model Entidades.Rendicion
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";    
}

    <div class="container-fluid">
    @*<div class="row">
        <h5>Rendición de Gastos </h5>
    </div>*@



    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">Documento</a></li>
        <li><a href="#orange" data-toggle="tab">Detalle</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
    @using (@Html.BeginForm("UpdateEstado", "Rendicion", FormMethod.Post, new { @id = "frm-example" }))
            {
        <br>
        @*<div class="row top-buffer">
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-success">FINALIZAR EDICION</button>
                </div>
            </div>*@
        @*@Html.DropDownList("EstadoRendicion", ViewBag.Name as IEnumerable<SelectListItem>, new { @class = "form-control top-buffer" })*@
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">CAMBIAR ESTADO:</label>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.ESTADO_PLANILLA, new SelectList(
                  new List<Object>{
                       new { value = "APROBADO" , text = "APROBADO"  },
                       new { value = "PENDIENTE" , text = "PENDIENTE" },
                       new { value = "RECHAZADO" , text = "RECHAZADO"}
                    },
                  "value",
                  "text",
                   2))
            </div>
            <div class="row ">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Id:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input class="form-control input-sm" id="numerorendicion" name="numerorendicion" value=@Model.NumeroRendicion>
                </div>
            </div>
        </div>
             <div class="form-group col-md-3">
                <button type="submit" class="btn btn-success">ACTUALIZAR ESTADO</button>
            </div>


                <div class="row">
                    <div class="form-group col-md-2" style="font-size: 18px; font-weight: bold; color: #00539f; ">
                        @ViewBag.Mensaje
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Id:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        <input class="form-control input-sm" id="NumeroRendicion"  ame="NumeroRendicion" value=@Model.NumeroRendicion>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Empleado:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        <input class="form-control input-sm" id="FICHA_EMPLEADO" name="FICHA_EMPLEADO" value=@Model.FICHA_EMPLEADO>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Fecha Inicial:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        @*<input type="date" class="form-control input-sm" id="FECHA_RENDICION_INI" name="FECHA_RENDICION_INI" value=@Model.FECHA_RENDICION_INI>*@
                        @Html.TextBoxFor(m => m.FECHA_RENDICION_INI, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Fecha Fin:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        @*<input type="date" class="form-control input-sm" id="FECHA_RENDICION_FIN" name="FECHA_RENDICION_FIN" value=@Model.FECHA_RENDICION_FIN>*@
                        @Html.TextBoxFor(m => m.FECHA_RENDICION_FIN, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Fondo Inicial:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        <input class="form-control input-sm" id="FONDO_INICIAL" name="FONDO_INICIAL" value=@Model.FONDO_INICIAL>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="form-group col-md-2 top-buffer">
                        <label class="control-label input-sm">Glosa Gastos:</label>
                    </div>
                    <div class="form-group col-md-3 top-buffer">
                        <input class="form-control input-sm" id="GLOSA_GASTOS" name="GLOSA_GASTOS" value=@Model.GLOSA_GASTOS>
                    </div>
                </div>


            }
        </div>

        <div class="tab-pane" id="orange">
            <br>
            @*<div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">PK_DETALLE:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input class="form-control input-sm" id="NumeroRendicion" name="NumeroRendicion" value="">
                </div>
            </div>*@
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Fecha Gasto:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input type="date" class="form-control input-sm" id="fecha_gasto" name="fecha_gasto" value="">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Tipo Documento:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">                    
                    <select class="form-control input-sm" id="TipoDocumentoID" name="tipo_docto">
                        <option value="">Seleccione el Tipo Documento--</option>
                        <option value="1">Factura</option>
                        <option value="2">Boleta</option>
                        <option value="3">Ticket</option>
                    </select> 
                </div>
            </div>
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Número Documento:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input class="form-control input-sm" id="numero_docto" name="numero_docto" value="">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Razón Social:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input class="form-control input-sm" id="razon_social" name="razon_social" value="">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Monto Linea:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <input class="form-control input-sm"  id="monto_linea" name="monto_linea" value="">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="form-group col-md-2 top-buffer">
                    <label class="control-label input-sm">Motivo Gasto:</label>
                </div>
                <div class="form-group col-md-3 top-buffer">
                    <select class="form-control input-sm" id="MotivoID" name="MotivoID">
                        <option value="">Seleccione el Motivo--</option>
                        <option value="1">Desayuno</option>
                        <option value="2">Almuerzo</option>
                        <option value="3">Cena</option>
                    </select>
                </div>
            </div>





            @*<div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-primary" onclick="Agregar(this)">AGREGAR DETALLE</button>
                </div>
            </div>*@
        </div>

            <div id="example_wrapper" class="dataTables_wrapper dt-jqueryui">
                <table id="example" class="table table-bordered" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row">

                            <th>Motivo Gasto</th>
                            <th>Fecha Gasto</th>
                            <th>Tipo Documento</th>
                            <th>Número Documento</th>
                            <th>Razón Social</th>
                            <th>Monto Linea</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:smaller">
                    @foreach (var item in @Model.RendicionDetalle)
                    {
                        <tr>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.MotivoGasto.Motivo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHA_GASTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoDocumento.Documento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NUMERO_DOCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RAZON_SOCIAL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MONTO_LINEA)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>             
             
                   



</div>
        </div>


        <script>


            $(document).ready(function () {

                document.getElementById("NumeroRendicion").readOnly = true;
                document.getElementById("FICHA_EMPLEADO").readOnly = true;
                document.getElementById("FECHA_RENDICION_INI").readOnly = true;
                document.getElementById("FECHA_RENDICION_FIN").readOnly = true;
                document.getElementById("FONDO_INICIAL").readOnly = true;
                document.getElementById("FONDO_INICIAL").readOnly = true; 
                document.getElementById("GLOSA_GASTOS").readOnly = true; 
                document.getElementById("example").readOnly = true;       
                document.getElementById("fecha_gasto").readOnly = true;
                document.getElementById("TipoDocumentoID").readOnly = true;
                document.getElementById("numero_docto").readOnly = true;
                document.getElementById("razon_social").readOnly = true;
                document.getElementById("monto_linea").readOnly = true;
                document.getElementById("MotivoID").readOnly = true;
                


                $('#example').DataTable({

                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
              ,
                    columns: [                    
                    { "data": "MotivoID" },
                    { "data": "fecha_gasto" },
                    { "data": "tipo_docto" },
                    { "data": "numero_docto" },
                    { "data": "razon_social" },
                    { "data": "monto_linea" }
                    ]
              //,
              //      "columnDefs": [
              //  {
              //      "targets": [0],
              //      "visible": false,
              //      "searchable": false
              //  },
              //  {
              //      "targets": [3],
              //      "visible": false
              //  }
              //      ]



                });


 

            });



            function Agregar(element) {
                
                var table = $('#example').DataTable();

                
                table.row.add({
                    "MotivoID": document.getElementById("MotivoID").value,
                    "Motivo": $('#MotivoID :selected').text(),//document.getElementById("Motivo").value,
                    "fecha_gasto": document.getElementById("fecha_gasto").value,
                    "TipoDocumentoID": document.getElementById("TipoDocumentoID").value,
                    "Documento": $('#TipoDocumentoID :selected').text(),//document.getElementById("TipoDocumento").value,
                    "numero_docto": document.getElementById("numero_docto").value,
                    "razon_social": document.getElementById("razon_social").value,
                    "monto_linea": document.getElementById("monto_linea").value
                }).draw();
            }

            @*$(document).on("change", "#ESTADO_PLANILLA", (function () {
                var estadoplanilla = $("#NumeroRendicion").val();
                var numerorendicion = $("#ESTADO_PLANILLA :selected").val();
                alert(estadoplanilla + "" + numerorendicion);
                var data = { estadoplanilla: estadoplanilla, numerorendicion: numerorendicion }

                
                $.ajax({
                    url: '@Url.Action("UpdateEstado", "Rendicion")',
                    type: 'POST',
                    success: function (data) {
                        if (data) {  // check if data is defined
                            alert("Actualizado");
                        }
                    }
                });
            }));*@

        </script>



