@model Entidades.RendicionDetalle

@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid">
        <div class="row">
            <h2>Rendición de Gastos </h2>
        </div>
@using (@Html.BeginForm("Grabar", "Rendicion", FormMethod.Post, new { @id = "frm-example" }))
    {
        <div class="row">
            <div class="form-group col-md-2" style="font-size: 18px; font-weight: bold; color: #00539f; ">
                @ViewBag.Mensaje
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Id:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" id="PK_CABECERA" name="PK_CABECERA" value="">
            </div>
        </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Empleado:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input class="form-control input-sm" id="empleado" name="empleado" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Fecha Inicial:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input type="date" class="form-control input-sm" id="fecha_inicial" name="fecha_inicial" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Fecha Fin:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input type="date" class="form-control input-sm" id="fecha_final" name="fecha_final" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Fondo Inicial:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input class="form-control input-sm" id="fondo_inicial" name="fondo_inicial" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Total Gastado:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input class="form-control input-sm" id="total_gastado" name="total_gastado" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Estado:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input class="form-control input-sm" id="estado" name="estado" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Fecha Cambio Estado:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input type="date" class="form-control input-sm" id="fecha_cambioestado" name="fecha_cambioestado" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Fecha Creación:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input type="date" class="form-control input-sm" id="fecha_creacion" name="fecha_creacion" value="">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="form-group col-md-2 top-buffer">
            <label class="control-label input-sm">Glosa Gastos:</label>
        </div>
        <div class="form-group col-md-3 top-buffer">
            <input class="form-control input-sm" id="glosa_gastos" name="glosa_gastos" value="">
        </div>
    </div>    

    
     <hr />
        <div class="row top-buffer">
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-success">GRABAR RENDICION</button>
            </div>
        </div>
    }
        <hr />
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">PK_DETALLE:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" id="PK_DETALLE" name="PK_DETALLE" value="">
            </div>
        </div>  
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Fecha Gasto:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input type="date" class="form-control input-sm" id="fecha_gasto" name="fecha_gasto" value="">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Tipo Documento:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" id="tipo_documento" name="tipo_documento" value="">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Número Documento:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" id="numero_documento" name="numero_documento" value="">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Razón Social:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" id="razon_social" name="razon_social" value="">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group col-md-2 top-buffer">
                <label class="control-label input-sm">Monto Linea:</label>
            </div>
            <div class="form-group col-md-3 top-buffer">
                <input class="form-control input-sm" s id="monto_linea" name="monto_linea" value="">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotivoGasto, htmlAttributes: new { @class = "control-label col-md-2 top-buffer" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CategoriaID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.MotivoID,
                                new SelectList(ViewBag.Categorias, "MotivoID", "Motivo"),
                                "Seleccione el Motivo --", new { @class = "form-control top-buffer" })
                @Html.ValidationMessageFor(model => model.MotivoID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-3">
                <button class="btn btn-primary" onclick="Agregar(this)">AGREGAR DETALLE</button>
            </div>
        </div>

        <div id="example_wrapper" class="dataTables_wrapper dt-jqueryui">
            <table id="example" class="table table-bordered" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;">
                <thead>
                    <tr role="row">

                    
                        <th>PK_DETALLE</th>
                        <th>Motivo Gasto</th>
                        <th>Fecha Gasto</th>
                        <th>Tipo Documento</th>
                        <th>Número Documento</th>
                        <th>Razón Social</th>
                        <th>Monto Linea</th>
                    </tr>
                </thead>
                <tbody style="font-size:smaller">
                    </tbody>
</table>

        </div>
    </div>


<script>

  
    $(document).ready(function () {

        //$('#fecha_gasto').datepicker({
        //    format: "dd/mm/yyyy"
        //});

         $('#example').DataTable({
       
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
       ,
            columns: [
            { "data": "PK_DETALLE" },
            { "data": "MotivoID" },
            { "data": "fecha_gasto" },
            { "data": "tipo_documento" },
            { "data": "numero_documento" },
            { "data": "razon_social" },
            { "data": "monto_linea" }
            ]



        });

        
        $('#frm-example').on('submit', function (e) {


            var table = $('#example').DataTable();
            var keys = [];
            var data = table.rows().data();
            data.each(function (value, index) {
                var jsonStr = JSON.stringify(value);
                keys.push(jsonStr);
            });

            $.ajax({
                url: '@Url.Action("SessionJSON", "Rendicion")',
                type: 'POST',
                data: { id: keys.join() },
                success: function (result) {
                }
            });

        });

    });



    function Agregar(element) {
        var table = $('#example').DataTable();
        table.row.add({
            "PK_DETALLE": document.getElementById("PK_DETALLE").value,
            "MotivoID": document.getElementById("MotivoID").value,
            "fecha_gasto": document.getElementById("fecha_gasto").value,
            "tipo_documento": document.getElementById("tipo_documento").value,
            "numero_documento": document.getElementById("numero_documento").value,
            "razon_social": document.getElementById("razon_social").value,
            "monto_linea": document.getElementById("monto_linea").value
        }).draw();
    }
</script>



